* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    padding: 50px;
    height: 100vh;
    background-image: linear-gradient(rgba(#000, 0.6), rgba(#000, 0.6)), url('assets/brick-wall.jpg');
    background-size: cover;   
}

h1 { 
    color: white;
    span {
        display: block;
        color: darken(white, 20%);
        font-size: 14px;
        font-style: italic;
        height: 14px;
    }
}

.note-form {
    display: flex;
    flex-direction: column;
    width: 200px;

    textarea {
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid lightgrey;
        min-width: 100%;
        max-width: 100%;
        height: 100px;
        padding: 10px;
        outline: none;
    }

    button {
        width: 100%;
        background-color: #fff27f;
        cursor: pointer;
        padding: 10px; 
        border: 0;
        outline: none;
        &:hover {
            background-color: tomato;
            color: white;
        }
    }
}

.note {
    position: absolute;
    cursor: pointer;
    background-image: url('assets/post-it-note.png');
    background-size: cover;
    top: 100px;
    left: 300px;
    height: 200px;
    width: 200px;
    padding: 20px;
    

    .text {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        width: 100%;
        white-space: pre-wrap;
        overflow-y: scroll;
    }

    .close {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.6);
        }
    }
}